@import url('https://fonts.googleapis.com/css?family=Rozha+One');

.App {
  text-align: center;
}

body{
  color: white;
  background: url('https://media.giphy.com/media/3ohhwNqFMnb7wZgNnq/giphy.gif');
  background-size: 100%;
  background-repeat: no-repeat;
}

img.me {
    -webkit-filter: saturate(300%); /* Safari */
    filter: saturate(150%);
    padding-top: 25px;
}

.App-logo {
  border-radius: 15%;
  height: 300px;
}

.App-header{
  display: flex;
  padding-left: 70px;
  width: 75%;
  margin: 0 auto;
}

.ui.cards{
  margin: 0 auto;
  justify-content: center;
  display: inline-flex;
}

h1{
  font-family: 'Rozha One', serif;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 20em;
  animation: slidein 4s;
}

@keyframes slidein{
  from { width: 0; }
}

p{
  font-family: 'Rozha One', serif;
}
